/* src/css/SkipCard.css */
.skip-card {
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px;
    width: 200px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    background-color: #fff;
}

.skip-card img {
  width: 100%;
  height: 200px; /* Atur tinggi sesuai kebutuhan desain */
  object-fit: cover; /* Pastikan gambar proporsional dan tidak terdistorsi */
  border-radius: 8px; /* Opsional: untuk estetika */
}

.skip-card.selected {
    border-color: #007bff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.skip-card h3 {
    color: #333;
    margin-bottom: 10px;
}

.skip-card p {
    color: #666;
    font-size: 0.9em;
}

/* Media query untuk layar yang lebih kecil dari 768px (mobile) */
@media (max-width: 768px) {
  .skip-card {
    width: calc(50% - 10px); /* Dua card per baris di mobile */
    margin: 5px; /* Margin lebih kecil */
    padding: 10px; /* Padding lebih kecil */
  }

  .skip-card h3 {
    font-size: 1em; /* Sedikit kurangi ukuran font */
  }

  .skip-card p {
    font-size: 0.8em; /* Sedikit kurangi ukuran font */
  }
}
